# Dependências
node_modules/
.pnpm-store/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Banco de dados
prisma/*.db
prisma/*.sqlite
prisma/*.db-journal

# Testes
coverage/

# Editor/IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db

# Temporário
tmp/
temp/